section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 60%;
    max-width: 750px;
    min-width: 500px;
}
.img-container {
    width: 20%;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.company-container {
    width: 50%;
}
.spec-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}