.header-container {
    gap: 12px;
    align-items: center;
    background-color: #FFFFFF;
}

.header-container div {
    display: flex;
    align-items: center;
}

/* Top part */
.info-container-light {
    justify-content: space-around;
}

.info-container-dark {
    background-color: #0d2a58;
    color: #FAFAF8;
    width: 100%;
    justify-content: space-around;
}

.info-container h1 {
    font-size: 5rem;
    margin: 0;
}
.slide {
    gap: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    border: transparent;
}
.slider h2 {
    width: 130px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Bottom part */
.menu-container {
    display: flex;
    justify-content: center;
    gap: 5%;
    background-color: bisque;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

}
.menu-container button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(28, 142, 142);
    font-size: 1rem;
}
.menu-container button:hover {
    cursor: pointer;
    text-decoration: underline;
}

img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


