.progress-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    padding-bottom: 20px;
}
.Tech-name {
    width: 70%;
}
.progress-bar {
    display: flex;
    align-items: center;
    width: 70%;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
}
.progress-fill {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #00d8d6, #34e7e4);
    border-radius: 10px;
    animation: width 3s ease-in-out forwards;
    display: flex;
    justify-content: end;
    align-items: center;
}

@keyframes width {
    0% {width: 0%;}
    100% {width: width;}
}
