.project-container {
    transition: opacity 0.3s ease;
}

.dim {
    opacity: 0.35;
}
.project-info {
    width: 100%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    width: 550px;
    padding: 10px;
}
.project-info button {
    font-size: 1rem;
    border-radius: 5px;
    border-color: aqua;
    height: 30px;
}
.project-info button:hover {
    cursor: pointer;
    background-color: aqua;
    color: white;
}
